@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(222, 229, 238);
}
header {
    background-color: rgb(94, 91, 107);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    text-align: center;
}

header section {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header img {
    padding: 1rem 1rem 1rem 0rem;
}

header nav {
    padding: 1rem;
}

header li {
    display: inline;
    padding: 4rem;
}

a {
    text-decoration: none;
    color: rgb(211, 93, 57);
}

a:hover {
    color: rgb(222, 229, 238);
    text-decoration: underline;
}

main {
    text-align: center;
    display: block;
    margin: 0 auto;
}

#hero {
    margin: 30px 0 0 0;
}

.section1 {
    width: 960px;
    margin: 30px auto 30px auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.section2 {
    width: 960px;
    height: 375px;
    margin: 30px auto 30px auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}


article:last-child div {
    text-align: left;
    margin: 0 0 0 30px;
}

article:last-child div h2{
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(211, 93, 57);
}

article:last-child p {
    padding: .5rem;
    overflow: scroll;
    height: 280px;
    font-size: .8rem;
    background-color: ghostwhite;

}

article:last-child div h3{
    width: fit-content;
    margin-top: 1rem;
    border: solid rgb(94, 91, 107) .1rem;
    border-radius: 10px;
    padding: .5rem;
    text-align: left;
    font-size: 1.2rem;
    background-color: rgb(254, 255, 254);
}

article:last-child div h3:hover {
    background-color: rgb(211, 93, 57);
}

footer {
    background-color:rgb(94, 91, 107);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    text-align: center;
}

footer section {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

footer img {
    padding: 1rem 1rem 1rem 0rem;
}

footer nav {
    padding: 1rem;
}

footer li {
    display: inline;
    padding: 4rem;
}